body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body, input, select, textarea {
	color: _palette(base, foreground);
	font-family: _font(base, family);
	font-size: $base-font-size;
	font-weight: _font(base, weight);
	line-height: $base-line-height;
}


// Hyperlinks
a {
	color: _palette(interact, action);
	text-decoration: none;

	&:hover {
		color: darken(_palette(interact, action), 10%);
	}
}

// Subscript & Superscript
sub {
	font-size: 0.8em;
	position: relative;
	top: 0.5em;
}

sup {
	font-size: 0.8em;
	position: relative;
	top: -0.5em;
}

// Standalone classes
h1,h2,h3,h4,h5 {
	font-family: _font(heading, family);
}

h1 {
	font-weight: _font(heading, weight-bold);
	font-size: modular-scale(2);
	margin: 0 0 $base-line-height / 2 0;

	strong,b {
		font-weight: _font(heading, weight-bold);
	}

	&.strong {
		font-weight: _font(heading, weight-bold);
	}
}

h2 {
	font-weight: _font(subheading, weight-bold);
}

h3,h4,h5 {
	font-weight: _font(subheading, weight);
}

h3,h4,h5 {
	strong,b {
		font-weight: _font(subheading, weight-bold);
	}

	&.strong {
		font-weight: _font(subheading, weight-bold);
	}
}

h2 {
	letter-spacing: .01em;
}

h3 {
	letter-spacing: .01em;
}

p {
	margin: ($base-line-height / 2) 0;
}
