button {
  font-size: .8em;
  line-height: 280%;
  color: lighten(_palette(interact, action), 70%);
  letter-spacing: 1px;
  display: block;
  position: relative;
  margin: 10px auto;
  padding: 0 10px;
  //min-width: 100px;
  cursor: pointer;
  outline: none;
  box-shadow: inset 0 1px 0 0 hsla(0, 0%, 100%, .2);
  border-radius: $base-border-radius;
  border: 1px solid rgba(0, 0, 0, .2);
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .4);
  background-color: _palette(interact, action);
  text-shadow: 0 1px 0 darken(_palette(interact, action), 30%);
  outline: none!important;
  transition: all 0.2s ease;

  &:hover {
    box-shadow: inset 0 1px 0 0 rgba(_palette(neutrals, x-dark), .3);
    background-color: darken(_palette(interact, action), 10%);
  }
}

.button--icon {
  border: none;
  background-color: transparent;
  line-height: inherit;
  font-size: inherit;
  padding: 0;
  margin: 0;
  color: initial;
  letter-spacing: normal;
  text-shadow: initial;
  box-shadow: initial;
  font-family: inherit;

  &:hover {
    box-shadow: initial;
    background-color: transparent;
  }
}

button.disabled,
button:disabled,
button[disabled] {
  //border: 1px solid #999999;
  background-color: _palette(neutrals, base);
  color: _palette(neutrals, dark);
  text-shadow: 0 1px 0 _palette(neutrals, x-light);
  cursor: not-allowed;
  opacity: .5;

  &:hover {
    box-shadow: inherit;
  }
}

.button-reset {
  background-color: transparent !important;
  border: none !important;
  padding: 0 !important;
  margin: 0 !important;
  box-shadow: none !important;
  min-width: inherit;
}

.button-icon {
  padding: $base-line-height / 2;
  display: block;
  width: $base-line-height;
  height: $base-line-height;

  svg {
    width: $base-line-height;
    height: $base-line-height;
    fill: _palette(neutrals, base);
    transition: all $base-duration $base-timing;
  }

  &:hover {
    svg {
      fill: darken(_palette(neutrals, base), 15%);
    } 
  }
}

.btn,.button {
  @extend button;
}