table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  //table-layout: fixed;
  width: 100%;
  font-size: .8em;
  line-height: 100%;
}

th {
  border-bottom: 1px solid _palette(neutrals, light);
  font-weight: _font(base, weight-bold);
  padding: $small-spacing;
  text-align: left;
}

td {
  border-bottom: 1px solid _palette(neutrals, light);
  padding: $small-spacing;
}

tr,
td,
th {
  vertical-align: middle;
}

tr:hover {
  background-color: lighten(_palette(neutrals, light), 7%);
}